:root.theme-dark {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --title-decor-bg: #FF0070;
  --title-decor-color: #000028;
  --section-title-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec {
  display: block;
}
