:root.theme-light {
  --accent-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --title-decor-bg: #FF8DCB;
  --title-decor-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-border: rgba(50, 49, 45, 0.4);
  --bg-color: #FFF1F7;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --title-decor-bg: #FF8DCB;
    --title-decor-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover-border: rgba(50, 49, 45, 0.4);
    --bg-color: #FFF1F7;
    --bg-image: url("../images/cover-image-light.png");
  }
  
  .rec-decoration {
    display: none;
  }
}